@model IEnumerable<ToursNew.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Wycieczki</h1>

<p>
    <a class ="btn btn-default btn-outline-dark" asp-action="Create">Dodaj wycieczkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromWhere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromWhere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTrip">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDTrip">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDTrip">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
